.idea

files/*
!files/.htaccess

core/cache/*
!core/cache/index.html
core/tmp/*
!core/tmp/index.html
core/Smarty/templates_c/*
!core/Smarty/templates_c/index.html

cache/about/*
!cache/about/.htaccess
cache/attach/*
!cache/attach/.htaccess
cache/screen/*
!cache/screen/.htaccess

cache/data/ffmpeg/*
!cache/data/ffmpeg/.htaccess
cache/data/jar/*
!cache/data/jar/.htaccess
cache/data/jar_ico/*
!cache/data/jar_ico/.htaccess
cache/data/mp3/*
!cache/data/mp3/.htaccess
cache/data/pic/*
!cache/data/pic/.htaccess
cache/data/theme/*
!cache/data/theme/.htaccess
cache/data/zip/*
!cache/data/zip/.htaccess
cache/data/zip_pic/*
!cache/data/zip_pic/.htaccess
