body {
    background-color: #000000;
    color: #555555;
    font-size: x-small;
    margin: 1px;
}

.buttom {
    color: #ffffff;
    background-color: #111111;
    padding: 1px 1px 1px 1px;
    border: 1px solid #004080;
    font-size: x-small;
    margin-top: 1px;
    margin-bottom: 1px;
}

.enter {
    background-color: #000000;
    color: #ffffff;
    padding: 1px 1px 1px 1px;
    border: 1px solid #004080;
    font-size: 11px;
    margin-top: 1px;
    margin-bottom: 1px;
}

pre {
    padding: 2px 2px 2px 2px;
    margin-bottom: 1px;
    margin-top: 1px;
    border: 1px solid #004080;
    background-color: #333333;
    color: #bbbbbb;
}

.iblock {
    padding: 2px 2px 2px 2px;
    margin-bottom: 1px;
    margin-top: 1px;
    border: 1px solid #004080;
    background-color: #111111;
    color: #bbbbbb;
}

.mblock {
    background-color: #111111;
    color: #bbbbbb;
    margin-bottom: 1px;
    margin-top: 1px;
}

img {
    position: relative;
    top: 1px;
    margin: -1px;
    margin-right: 2px;
}

.row {
    border: 1px solid #004080;
    background-color: #333333;
    color: #999999;
    padding: 1px 2px 3px 2px;
    margin-bottom: 1px;
}

.row2 {
    border: 1px solid #004080;
    background-color: #222222;
    color: #999999;
    padding: 1px 2px 3px 2px;
    margin-bottom: 1px;
}

.hr {
    background-color: #004080;
    padding: 0;
    margin: 4px 0 2px 0;
}

a, a:visited {
    color: #3070b0;
    text-decoration: none;
}

a:active {
    color: #0080b0;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

form {
    margin: 0;
}

textarea {
    width: 95%;
}

.yes {
    color: #009900;
    font-weight: 700;
}

.no {
    font-weight: 700;
    color: #990000;
}

table, td, th {
    border: 1px solid #000033;
}