body {
    background-color: #fafafa;
    color: #bbbbbb;
    font-size: x-small;
    margin: 1px;
}

.buttom {
    color: #ffffff;
    background-color: #111111;
    padding: 1px 1px 1px 1px;
    border: 1px solid #004080;
    font-size: x-small;
    margin-top: 1px;
    margin-bottom: 1px;
}

.enter {
    background-color: #dddddd;
    padding: 1px 1px 1px 1px;
    border: 1px solid #004080;
    font-size: 11px;
    margin-top: 1px;
    margin-bottom: 1px;
}

pre {
    padding: 2px 2px 2px 2px;
    margin-bottom: 1px;
    margin-top: 1px;
    border: 1px solid #FFFFFF;
    background-color: #cccccc;
    color: #00254A;
}

pre.desc {
    background-color: #ebebeb;
    margin: 0;
}

.iblock {
    list-style: disc inside;
    padding: 2px;
    margin-bottom: 1px;
    margin-top: 1px;
    border: 1px solid #004080;
    background-color: #cccccc;
    color: #00254A;
}

.mblock {
    background-color: #cccccc;
    color: #00254A;
    margin-bottom: 1px;
    margin-top: 1px;
}

img {
    position: relative;
    top: 1px;
    margin: -1px;
    margin-right: 2px;
}

.row, .row2 {
    border: 1px solid #004080;
    background-color: #cccccc;
    color: #00254A;
    padding: 1px 2px 3px 2px;
    margin-bottom: 1px;
}
.mblock>.row, .mblock>.row2 {
    background-color: #eeeeee;
}
.mblock>.row:hover, .mblock>.row2:hover {
    background-color: #fff;
}

.hr {
    background-color: #004080;
    padding: 0;
    margin: 4px 0 2px 0;
}

a, a:visited {
    color: #004080;
    text-decoration: none;
}

a:active {
    color: #004080;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    margin: 0;
}

textarea {
    width: 95%;
}

.yes {
    color: #009900;
    font-weight: 700;
}

.no {
    font-weight: 700;
    color: #990000;
}

table, td, th {
    border: 1px solid #000033;
}

span.comment {
    font-size: 9px;
}